# 1. SUPABASE DATABASE
# Format: postgresql+asyncpg://postgres.[project-ref]:[password]@aws-0-[region].pooler.supabase.com:6543/postgres
DATABASE_URL=

# =====================
# AZURE OPENAI
# =====================
AZURE_OPENAI_API_KEY=your_key
AZURE_OPENAI_ENDPOINT=https://your-resource.openai.azure.com/
AZURE_OPENAI_API_VERSION=2025-01-01-preview

# Main reasoning model
AZURE_OPENAI_AGENT_DEPLOYMENT=gpt-5.1

# Fast helper model
AZURE_OPENAI_FAST_DEPLOYMENT=gpt-4o-mini

# Extra Setup
SUPABASE_BUCKET=hr-documents
GOOGLE_CREDENTIALS_FILE=credentials.json

# Backend Service
BACKEND_PORT=8000
FRONTEND_URL=http://localhost:3000
